<mat-toolbar color="primary">
	<div class="home">
		<button mat-button
		routerLink="/">
		<mat-icon>home</mat-icon>
		<span>GymApp</span>
		</button>
	</div>
	<button mat-button
		routerLink="clubs">
		<span>Kluby</span>
	</button>
	<button mat-button
		routerLink="reserve-class">
		<span>Zajęcia</span>
	</button>
	<button mat-button
		routerLink="contact">
  		<span>Kontakt</span>
	</button>
	<span class="example-spacer"></span>
  
	<ng-container *ngIf="(authService.user$ | async) as userInfo">
	  <span>{{userInfo.email}}</span>
	  <button mat-button
			  [matMenuTriggerFor]="menu">
		<mat-icon>more_vert</mat-icon>
	  </button>
	  <mat-menu #menu="matMenu">
		<button mat-menu-item (click)="navigateToProfile()">
			<mat-icon>person</mat-icon>
			Profile
		  </button>
		<button mat-menu-item
				(click)="logout()">
		  <mat-icon>exit_to_app</mat-icon>
		  Wyloguj Sie
		</button>
	  </mat-menu>
	</ng-container>
	<ng-container *ngIf="!(authService.user$ | async)">
		<button mat-button routerLink="login">
			<mat-icon>person</mat-icon>
			Zaloguj się
		</button>
		
		<button mat-button routerLink="register">
			<mat-icon>person_add</mat-icon>
			Zarejestruj się
		</button>
	</ng-container>
  </mat-toolbar>
  
  <ng-container *ngIf="loaderService.isLoading | async">
	<div class="loader">
	  <mat-progress-bar color="accent"
						mode="indeterminate"></mat-progress-bar>
	</div>
  </ng-container>