<div class="profile-container">
    <div>        <button (click)="data()">Zaladuj dane</button></div>
    <div class="left-side">
      <h2>Rezerwacje</h2>
      <ul>
        <li *ngFor="let reservation of reservations">
          Class ID: {{ reservation.classId }}
        </li>
      </ul>
    </div>
    <div class="right-side">
        <h2>Płatności</h2>
      <ul>
        <li *ngFor="let payment of payments">
          Kwota: {{ payment.price }} PLN
        </li>
      </ul>
    </div>
  </div>
  