@use '@angular/material' as mat;

// Definiowanie kolorów z domyślnych palet
$primary: mat.define-palette(mat.$grey-palette);
$accent: mat.define-palette(mat.$red-palette, A200, A100, A400);
$warn: mat.define-palette(mat.$red-palette);
$background: mat.define-palette(mat.$grey-palette);

// Definiowanie ciemnego motywu
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    background: $background
  ),
  typography: mat.define-typography-config(),
));

@include mat.all-component-themes($dark-theme);

.mat-button, .mat-raised-button, .mat-flat-button {
  background-color: transparent;
  color: mat.get-color-from-palette($warn, 500);

  &:hover {
    background-color: rgba(mat.get-color-from-palette($warn, 500), 0.1);
  }
}


body {
  background-color: mat.get-color-from-palette($background, 900);
  color: white;
}
html, body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: black;
	color: white;
  }

.content {
	flex: 1;
}


button {
background-color: red;
color: white; 
border: none;
}

button:hover{
  color:red;
}