<div class="container">
	<mat-card>
		<mat-card-header>Proszę się zalogować</mat-card-header>
		<mat-card-content>
			<form [formGroup]="form">
				<div>
					<mat-form-field>
						<mat-label>Email</mat-label>
						<input matInput
							   formControlName="email" />
						@if (form.get('email')?.hasError('required')) {
						<mat-error>Email is <strong>wymagany</strong></mat-error>
						}
						@if (form.get('email')?.hasError('email')) {
						<mat-error>Zły <strong>email</strong></mat-error>
						}
					</mat-form-field>
				</div>
				<div>
					<mat-form-field>
						<mat-label>Haslo</mat-label>
						<input matInput
							   formControlName="password"
							   type="password" />
						@if (form.get('password')?.hasError('required')) {
						<mat-error>Haslo jest <strong>wymagane</strong></mat-error>
						}
						@if (form.get('password')?.hasError('minlength')
						|| form.get('password')?.hasError('maxlength')) {
						<mat-error>Password must be between <strong>6</strong> and <strong>16</strong> characters
						</mat-error>
						}
					</mat-form-field>
				</div>
			</form>
			<div>
				<button mat-button
				(click)="loginUser()">>
				<span>Zaloguj się</span>
				</button>
			</div>
		</mat-card-content>
	</mat-card>
</div>