<div class="container">
    <div class="image-container">
      <img src="assets/Contact.png" alt="Workout Image">
      <div class="contact-info">
        <h1>KONTAKT</h1>
      </div>
    </div>
    <div class="details">
      <div class="email">
        <h2>EMAIL</h2>
        <p>wielkiebick.com</p>
      </div>
      <div class="phone">
        <h2>TELEFON</h2>
        <p>123-456-678</p>
      </div>
      <div class="social">
        <h2>SOCIAL</h2>
        <div class="social-icons">
          <mat-icon>facebook</mat-icon>
          <mat-icon>twitter</mat-icon>
          <mat-icon>instagram</mat-icon>
        </div>
      </div>
    </div>
  </div>
  